<%= form_with(model: saving, local: true) do |form| %>
  <% if saving.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(saving.errors.count, "error") %> prohibited this saving from being saved:
      </h2>

      <ul>
        <% saving.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :author_id, value: session[:user_id] %>
  </div>

  <div class="field">
    <%= form.label :name, value: 'Description of the expense' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, step: 0.01 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  
<% end %>