<p id="notice"><%= notice %></p>

<h1>Savingss</h1>

<table>
  <thead>
    <tr>
      <th>Author</th>
      <th>Name</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @savingss.each do |saving| %>
      <tr>
        <td><%= saving.users.name %></td>
        <td><%= saving.name %></td>
        <td><%= saving.amount %></td>
        <td><%= link_to 'Show', saving %></td>
        <td><%= link_to 'Edit', edit_saving_path(saving) %></td>
        <td><%= link_to 'Delete', saving, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Saving', new_saving_path %>