<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @saving.author_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @saving.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @saving.amount %>
</p>

<%= link_to 'Edit', edit_saving_path(@saving) %> |
<%= link_to 'Back', savings_path %>